# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb
game/x64/Debug
yuyu/.vs
yuyu/x64/Debug
video/opengl/x64
*.iobj
*.ipdb
game/x64/Release
yuyu/x64/Release
res/tr
*.db
*.opendb
game/Debug
game/Release
*.yytr
video/opengl/Debug
video/opengl/Release
worldEditor/Debug
worldEditor/Release
worldEditor/x64/Debug
worldEditor/x64/Release
yuyu/Debug
yuyu/Release
video/d3d11/Debug
video/d3d11/Release
game/Production
res/cars
video/d3d11/Production
video/opengl/Production
worldEditor/Production
yuyu/Production
*.tmp
modelCreator/Debug
modelCreator/Release
*.ipch
todo.txt
*.sdf
*.suo
MDLCreator/Debug
MDLCreator/Release
MDLCreator/Production
*.idb
